:root {
  --primary-color: #213F61;
  --primary-color-rgb: 35, 73, 130;
  --secondary-color: #0D76B6;
  --secondary-color-rgb: 103, 143, 213;
  --tertiary-color: #F4F7FB;
  --tertiary-color-rgb: 244, 247, 251;
}