:root {
  --primary-color: #14387f;
  --primary-color-rgb: 35, 73, 130;
  --secondary-color: #2581c4;
  --secondary-color-rgb: 103, 143, 213;
  --tertiary-color: #F4F7FB;
  --tertiary-color-rgb: 244, 247, 251;
}