.rojo {
    background-color: red;
    width: 50%;
    height: 300px;
   
}


h1{
    color:white;
    }


    img {  
        width: 300px;
     }


     .img  {

        border-radius: 15px;

     } 